<style media="screen">
.parent-div{
    height: 100vh;
    max-width: none;
    /* position: absolute; */
}
#map{
    height: 100vh;
    max-width: none;
}
</style>

<div class="container">
    <div class="row">
        <div class="col">
            {{#each results}}
            <div class="card">
                <!-- <img class="card-img-top" style="max-width: 18rem;" src="{{this.image_url}}" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.location.display_address}}</p>
                    <p class="card-text">Latte</p>
                    <p class="card-text">Cappuccino</p>
                    <p class="card-text">Mocha</p>
                    <!-- <p class="card-text">{{this.location.display_address}}</p> -->
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            {{/each}}
        </div>
        <div class="parent-div col sticky-top">
            <div id="map"></div>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=places" async defer></script>
<script type="text/javascript">
var map;
var service;
var infowindow;

let yelpResults = {{{json results}}};
let queries = {{{json query}}}
console.log(yelpResults);

function initMap(){
    var geocoder = new google.maps.Geocoder();
    let mapCenter;
    geocoder.geocode({'address': queries.location }, function(results, status) {
        if (status === 'OK') {
            console.log(results);
            mapCenter = results[0].geometry.location;
            console.log(`mapcenter is ${mapCenter}`);

            map = new google.maps.Map(document.getElementById("map"), {
                center: mapCenter,
                zoom: 15
            });

            var request = {
                location: mapCenter,
                radius: '500',
                query: 'burrito',
            };

            yelpResults.forEach((result)=>{
                console.log(result);
                let resPosition = new google.maps.LatLng(result.coordinates.latitude, result.coordinates.longitude);
                console.log(resPosition);
                var marker = new google.maps.Marker({
                    map: map,
                    // icon: image,
                    title: result.name,
                    position: resPosition
                });
                marker.addListener('click', function(){
                    let infowindow = new google.maps.InfoWindow({
                        content: result.location.address1
                    });
                    infowindow.open(map, this);
                });
            })

            // service = new google.maps.places.PlacesService(map);
            // service.textSearch(request, callback);
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });
}

function callback(results, status){
    if (status == google.maps.places.PlacesServiceStatus.OK){
        for (let i = 0; i < results.length; i++){
            let place = results[i];
            // console.log(place);
            // createMarkers(results[i])
            var marker = new google.maps.Marker({
                map: map,
                // icon: image,
                title: place.name,
                position: place.geometry.location
            });
            marker.addListener('click', function(){
                let infowindow = new google.maps.InfoWindow({
                    content: place.formatted_address
                });
                infowindow.open(map, this);
            })
        }
    }
}
</script>

<!-- <script src="/javascript/mapsApiTutorial.js" type="text/javascript"></script> -->


<!-- https://stackoverflow.com/questions/45134477/google-maps-api-position-center-by-keyword-city-name -->
